:root {
    font-size: 20px;
    --lineHeight: 1.3rem;
    --bottomMargin: .5rem;
    --topMargin: 2.5rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
}
img {
    max-width: 100%;
} 
.flex {
    display: flex;
}
.container {
    width: 100%;
    max-width: 100%;
} 
main, header h1, header p, .btns {
    padding: 1.5rem;
}
h2, h3 {
    margin-bottom: var(--bottomMargin);
    margin-top: var(--topMargin);
}
p {
    line-height: var(--lineHeight);
}
header {
    background: url('images/bg-header-mobile.png') no-repeat center center / cover;
}
.btns button {
    width: 100%;
    border: none;
    border-radius: 30px;
    height: 60px;
    margin-block: .5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: opacity .4s;
}
button:hover {
    opacity: .6;
    cursor: pointer;
}
.ios {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 2px 4px 2px hsl(171, 66%, 39%);
}
.mac {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 2px 4px 2px hsl(233, 100%, 66%);
}
.computer, .devices {
    margin-top: var(--topMargin);
}
.sec-3 h3 {
    margin-top: 0;
}
.sec-3 > div {
    margin-bottom: 5rem;
}
.sec-3 div div {
    margin-top: var(--topMargin);
}
footer {
    background-color: hsl(200, 12%, 81%);
    padding: 1rem;
}
footer a,
.sec-4 img {
    display: block;
    margin: 1.3rem auto;
}
a:hover {
    color: hsl(171, 66%, 39%);
}
footer a {
    text-decoration: none;
    color: grey;
    transition: color .5s;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } 